.canvas {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
