@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap");

.burger_menu {
  position: absolute;
  opacity: 0;
  top: 90px;
  right: -300px;
  width: 40%;
  height: 40vh;
  background: #080131;
  filter: drop-shadow(0 0 0.95rem rgba(24, 29, 158, 0.743));
  transition: 0.4s;
  &.active {
    right: 0;
    opacity: 1;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .nav {
      ul {
        margin: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          list-style: none;
          a {
            font-family: "Kalnia Glaze", serif;
          }
        }
      }
    }
    button {
      background-color: #ae00ff;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.3s ease;
      border-radius: 10px;
      &:hover {
        background-color: #00d9a3;
        padding: 11px 21px;
      }
    }
  }
}
