.Header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  .scrool {
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h1 {
          font-size: clamp(30px, 4vw, 46px);
          color: white;
          background: -webkit-linear-gradient(-70deg, #b509bd 0%, #7a06b4 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
          -webkit-box-decoration-break: clone;
        }
      }
      .nav {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;

          li {
            list-style: none;
            color: white;
            font-size: clamp(16px, 4vw, 24px);
          }
        }
      }
      .resume {
        a {
          background: #ae00ff;
          color: white;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          transition: 0.3s ease;
          border-radius: 10px;
          &:hover {
            background-color: #00d9a3;
            padding: 11px 21px;
          }
        }
      }
    }
  }
}
