.Footer {
  width: 100%;

  .scrool {
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px;
      gap: 40px;

      .nav {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          li {
            background: -webkit-linear-gradient(-70deg, #b509bd 0%, #7a06b4 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            -webkit-box-decoration-break: clone;
            list-style: none;
            font-size: 18px;
          }
        }
      }
      .myNet {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          li {
            list-style: none;
            a {
              font-size: 28px;
              margin-right: 20px;
              transition: 0.3s ease;
             
            }
          }
        }
      }
    }
  }
}
